@model POSMVCWebAPIClient.Models.Transaction

@using (Html.BeginForm("DisplayTransaction", "Item"))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Transaction</h4>
    <hr />


    <div class="form-group">
        @Html.LabelFor(model => model.TransactionId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TransactionId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TransactionId, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-6">
            <input type="submit" value="Scan" class="btn btn-default" />
        </div>
    </div>

</div>
}
   


